.landingContainer {
  height:100vh;
  position: relative;
  z-index: 11;
  overflow: hidden;
}

.mainTitle {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  pointer-events: none;
}

.secondaryTitle {
  position: absolute;
  z-index: 12;
  text-align: right;
  bottom: 24vh;
  right: 4vw;
  width: fit-content;
  font-size: 4.2vh;
  color: rgba(214,214,214,0.9);
  pointer-events: none;
}
.secondaryTitle h2 {
  font-weight: 300;
}
.innerSecondaryTitle {
  display: block;
}
.downChevron {
  cursor: pointer;
  transition-duration: .4s;
  position: absolute;
  color: #d6d6d6;
  bottom: 2vh;
  left: 50vw;
  width: 3vw;
  height: 3vw;
  font-size: 4.2vh;
  text-align: center;
  z-index: 10;
}
.downChevron:hover {
  transform: translateY(-20%);
}

@media only screen and (orientation: landscape) {
  .landingContainer {
    height: unset;
    z-index: unset;
  }
  .secondaryTitle {
    font-size: 4.2vw;
    bottom: 16vh;
  } 
  .innerSecondaryTitle {
    display: flex;
  }
}
@media only screen and (min-height: 600px) and (orientation: landscape) {
  .secondaryTitle {
    bottom: 22vh;
  }
}
@media only screen and (min-width: 1400px) {
  .secondaryTitle {
    font-size: 4em;
  }
}