.landingContainer {
  height:100vh;
  position: relative;
  z-index: 11;
  overflow: hidden;
}

.mainTitle {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  pointer-events: none;
}

.secondaryTitle {
  position: absolute;
  z-index: 12;
  text-align: right;
  bottom: 24vh;
  right: 4vw;
  width: fit-content;
  font-size: 4.2vh;
  color: rgba(214,214,214,0.9);
  pointer-events: none;
}
.secondaryTitle h2 {
  font-weight: 300;
}
.innerSecondaryTitle {
  display: block;
}

@media only screen and (orientation: landscape) {
  .landingContainer {
    height: unset;
    z-index: unset;
  }
  .secondaryTitle {
    font-size: 4.2vw;
    bottom: 16vh;
  } 
  .innerSecondaryTitle {
    display: flex;
  }
}
@media only screen and (min-height: 600px) and (orientation: landscape) {
  .secondaryTitle {
    bottom: 20vh;
  }
}
@media only screen and (min-width: 600px) and (orientation: portrait) {
  .secondaryTitle {
    bottom: 16vh;
  }
}
@media only screen and (max-height: 300px) {
  .secondaryTitle {
    bottom: 4vh;
  }
}
@media only screen and (max-width: 300px) {
  .secondaryTitle {
    right: 0;
  }
}
@media only screen and (min-width: 1400px) {
  .mainTitle {
    left: 6vw;
  }
  .secondaryTitle {
    font-size: 4em;
    right: 8vw;
    bottom: 20vh;
  }
}